/* =================================================
=============            Body          =============
==================================================== */


#future-row h2 {
  padding: 20px;

}

.col-1 {
  max-width: 5% !important;
}

/* =================================================
=============  Table describing levels =============
==================================================== */

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px;
}

td {
  font-size: 12px;
}


/* ========================================
=============   Scatter plot  =============
======================================== */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x-axis,
.y-axis {
  font-size: 12px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  fill: #292b2c;
}

.x-label,
.y-label {
  font-size: 12px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  fill: #292b2c;
}


.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/* =================================================
============= Box with further details =============
=================================================== */

#infoBox {
/*    margin-top: 20px;
*/    background-color: powderblue;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#legendBox {
    height: 25vh;
}


