/* =================================================
=============            Body          =============
==================================================== */

#future-row {
    background-color: #F6F6F6;  /* @NISHA Future background color */
}

#future-text {
  padding-top: 30px;
  color: black;
  text-align: center;
  width: 100vw;
  /*height: 50px;*/
  display: table-cell;
  vertical-align: middle;
}

.col-1 {
  max-width: 5% !important;
}

/* =================================================
=============  Table describing levels =============
==================================================== */

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px;
}

#table-container {
    padding-left:30px;
}

td {
  font-size: 12px;
}


/* ========================================
=============   Scatter plot  =============
======================================== */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x-axis,
.y-axis {
  font-size: 12px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  fill: #292b2c;
}

.x-label,
.y-label {
  font-size: 12px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  fill: #292b2c;
}


.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/* =================================================
============= Box with further details =============
=================================================== */

#infoBox {
/*    margin-top: 20px;
*/  background-color: #E7EBF0; /* @NISHA Bottom-right info box color */
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 19vh;
}
