/* =================================================
=============            Body          =============
==================================================== */


#present-row {
  background-color: #fbfbfb; /* @NISHA Present background color */
}

#present-row p, li {
    font-size: 14px;
}

#present-text {
  padding-top: 30px;
  color: black;
  text-align: center;
  width: 100vw;
  /*height: 50px;*/
  display: table-cell;
  vertical-align: middle;
}

#nextButton {
  background-color: #aea9d0; /* @NISHA The background button of the color */
  color:#000000; /* @NISHA the text color of the button */
}

/* =================================================
=============      Custom Elements     =============
==================================================== */

.present-info {
    margin-left:20px;
    padding:20px;
}

#year-info-cont {
  height:300px;
  background-color: #e1e8ec; /* @NISHA Top-left box background color */
}
#company-info-cont {
  margin-top: 20px;
  height:375px;
  background-color: #e1e8ec; /* @NISHA Bottom-left box background color */
}

.svg-container {
    width:700px;
}

#present-data-display {
    width: 40vw;
    padding-left: 40px;
    padding-right: 40px;
}

#company-info-emptystate p {
  font-style:italic;
}