/* =================================================
=============            Body          =============
==================================================== */



#present-row p, li {
    font-size: 14px;
}



/* =================================================
=============      Custom Elements     =============
==================================================== */

.present-info {
    margin-left:20px;
    margin-top:20px;
    padding:20px;
}
#year-info-cont {
  height:325px;
  background-color: rgba(70, 130, 180, .3);
}
#company-info-cont {
  height:400px;
    background-color: rgba(50, 205, 50, .3);
}

.svg-container {
    width:700px;
    z-index:1;
}