/* =================================================
=============            Body          =============
==================================================== */


#present-row {
  background-color: #CED9E1;
}

#present-row p, li {
    font-size: 14px;
}

#present-text {
padding-top: 30px;
color: black;
text-align: center;
width: 100vw;
/*height: 50px;*/
display: table-cell;
vertical-align: middle;
}

#present-data-display {
  /*margin-left: 10px;*/
}

/* =================================================
=============      Custom Elements     =============
==================================================== */

.present-info {
    margin-left:20px;
    padding:20px;
}
#year-info-cont {
  height:325px;
  background-color: rgba(70, 130, 180, .3);
}
#company-info-cont {
  margin-top: 20px;
  height:400px;
  background-color: rgba(50, 205, 50, .3);
}

.svg-container {
    width:700px;
    z-index:1;
}

#present-data-display {
    width: 40vw;
}